.slides > article.level-2 {
    background-image: url("owlogo.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.slides > article.level-1 {
    background-image: url("owdim.png");
    background-position: right center;
    background-repeat: no-repeat;
}

h2 {
    bottom: 50px;
}

table.docutils td {
    border: 0px;
    padding-bottom: 1em;
}
